.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
build/
npm-debug.*
source/css/*.css
Thumbs.db
source/img/desktop.png
source/img/tablet.png
source/img/mobile.png
source/img/mobile-open.png
Links/
source/sass/_style.scss
