.main-header {
  position: relative;

  width: 100%;

  background-color: rgba(0, 16, 28, 0.5);
  background-repeat: no-repeat;
  background-image: url("../../images/main-header/track-logos.png"),
    url("../images/main-header/bg-1.jpg");
  background-position: center top 10px, 34% 36%;
  background-size: 100% auto, cover;

  // animation: changeBackground 2s linear alternate infinite;
}

.main-header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  color: $text-color;
}

.main-header__slogan {
  margin: 0;
  margin-top: 5px;

  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  font-family: $font-main;
  letter-spacing: 2px;
}

.main-header__link {
  padding: 7px 20px 15px;

  font-weight: 500;
  font-size: 32px;
  line-height: 43px;
  font-family: $font-main;
  color: $text-color;
  text-decoration: underline;

  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  &:hover,
  &:focus {
    background-color: rgba(26, 142, 255, 0.3);
  }
}

.main-header__org {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.main-header__logo {
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.main-header__title {
  margin: 0;

  font-weight: 400;
  font-size: 76px;
  line-height: 98px;
  font-family: $font-third;
  letter-spacing: 3px;
}

.main-header__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 135px;
  margin-bottom: 10px;
}

.main-header__telephons {
  @include list-reset;
}

.main-header__tel {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  font-family: $font-decor;
  letter-spacing: 2px;
}

@keyframes changeBackground {
  to {
    background-image: url("../images/main-header/bg-2.jpg");
  }
}
