.pages-menu {
  width: 100%;
  padding: 25px 0;
  border-top: 80px solid $main-color;
}

.pages-menu__title {
  @include visuallyhidden;
}

.pages-menu__list {
  @include list-reset;

  display: flex;
  justify-content: space-around;
  align-content: stretch;
  margin: 0;
  max-height: 665px;
}

.pages-menu__item {
  width: 292px;

  &:not(:last-child) {
    margin-right: 5px;
  }
}

.pages-menu__link {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  align-items: stretch;
  min-height: 100%;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
  }

  &:hover::after,
  &:focus::after {
    background-color: rgba(30, 67, 96, 0.35);
  }
}

.pages-menu__img {
  width: 292px;
  height: 219px;
  object-fit: cover;
}

.pages-menu__desc {
  width: 100%;
  padding: 20px 0;

  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  font-family: $font-main;
  text-align: center;
  color: #505a5e;
  background-color: rgba(11, 66, 94, 0.3);
  flex-grow: 10;
}
