@font-face {
  font-family: "Ubuntu_5";
  src: url("../fonts/ubuntum.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu_5";
  src: url("../fonts/ubuntub.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans_5";
  src: url("../fonts/opensansregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans_5";
  src: url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: "Prosto One_5";
  src: url("../fonts/prostooneregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
