body {
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}


html {
  box-sizing: border-box;
  font-family: $font-main;
  min-width: $container-width;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visuallyhidden {
  @include visuallyhidden;
}
