// fonts
$font-main: "Ubuntu_5", sans-serif;
$font-decor: "Open Sans_5", sans-serif;
$font-third: "Prosto One_5", sans-serif;

// sizes
$desktop: 1920px;
$intermediate-d: 1200px;
$intermediate-projects: 1500px;
$tablet: 768px;
$mobile: 640px;
$cell: (100/12) * 1%;

//color
$main-color: #001c30;
$text-color: #dedede;
// $contacts-begin-color: #55cfe2;
// $contacts-end-color: #5dd0e3;
// $shadow-color: rgba(0, 20, 38, 0.52);
// $input-border-color: #e7e7e7;
// $copyright-color: #636363;
// $dark-color: #000000;
// $hover-link-color: #b2deed;
// $active-link-color: #30bbda;
// $submit-color: #30bbdb;
// $hint-color: #00a99d;
// $hint-error-color: #ed135c;
// $input-error-color: #e36592;
// $partners-bg-color: #bfdee1;
// $search-color: #e5e5e5;
// $square-color: #1dc1dd;
// $overlay-color: rgba(161, 161, 161, 0.55);
