// fonts
$font-main: "Ubuntu_5", sans-serif;
$font-decor: "Open Sans_5", sans-serif;
$font-third: "Prosto One_5", sans-serif;

// sizes
$container-width: 960px;
$desktop: 1920px;
$intermediate-d: 1200px;
$intermediate-projects: 1500px;
$tablet: 768px;
$mobile: 640px;
$cell: (100/12) * 1%;

//color
$main-color: rgb(0, 28, 48);
$dark-text-color: rgb(24, 37, 57);
$text-color: #dedede;
